<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/site")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    <script defer src="https://pro.fontawesome.com/releases/v5.8.2/js/all.js" integrity="sha384-RLPiEwcAdrH2NjFcwJipJtlFoIN1xvqPYeeDX5yYtSNu+HTIkQCDvPQ9thsUnPUS" crossorigin="anonymous"></script>
    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'b626072f-7cb2-4ca0-b49b-130c58274fb6'
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>

    <div class="banner container-fluid d-none d-lg-block bg-primary">
        <div class="row">
            <div class="col d-inline-flex justify-content-between align-items-center">
                <label>Announcements: <span>Memory Express Saskatoon - Now Open!</span></label>
                <span class="fa-layers fa-fw fa-lg">
                    <i class="fas fa-bell"></i>
                    <span class="fa-layers-counter">4</span>
                </span>
            </div>
            <div class="col-lg-auto">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-cog"></i>System Configurator</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-star-exclamation"></i>New Arrivals</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    @Html.Action("Menu", "Nav")

    <div class="content">

        <div class="content-body container-fluid">
            @RenderBody()
        </div>

        @Html.Partial("_Footer")

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script>

        $(document).ready(function () {

            $(".dropdown__category .list-group-item").on("mouseenter", function () {

                let $this = $(this);

                $this.parent().children().removeAttr("active");
                $this.attr("active", "");

            });

        });

    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
