@model IEnumerable<ProductModel>
@using System.IO

<section class="product-deals container-fluid mt-5 mb-5 p-0">
    <h3 class="text-center text-lg-left">@ViewData["DealName"].ToString()</h3>
    <hr />
    <div class="row flex-row flex-nowrap align-items-stretch overflow-auto m-0 pb-3">
        @for (int i = 0; i < Model.Count(); i++)
        {
            var product = Model.ElementAtOrDefault(i);

            if (product != null)
            {
                <div class="col-auto d-flex @(i == 0 ? "pl-0" : null) @(i == Model.Count() - 1 ? "pr-0" : null)">
                    <div class="card">
                        <div class="card-header text-center text-uppercase text-white bg-danger">
                            <h5>$@(product.Price - product.DealPrice) off</h5>
                        </div>
                        <a href="/Product/@product.SeoUrl"><img class="card-img-top" src="@product.MainImage" alt="@Path.GetFileNameWithoutExtension(product.MainImage)" /></a>
                        <div class="card-body">
                            <small class="card-subtitle">$@product.Price</small>
                            <h5 class="card-title">$@product.DealPrice</h5>
                            <a href="/Product/@product.SeoUrl" class="card-text">@product.Name</a>
                        </div>
                        <div class="card-footer">
                            @if (product.StockQuantity == 0)
                            {
                                <a href="#" class="btn btn-primary btn-sm float-right pr-4 pl-4" disabled>Out of Stock</a>
                            }
                            else
                            {
                                if (product.MaxCartQuantity > 0)
                                {
                                    <small><i class="fas fa-asterisk fa-xs"></i> Limit @product.MaxCartQuantity per customer</small>
                                }
                                <a href="#" class="btn btn-primary btn-sm float-right pr-4 pl-4">Buy</a>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</section>
